*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html{
  font-size: 18px;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
}

.container{
  height: 80vh;
  width: 100%;
}

.box{
  box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
  border-radius: 2px;
}
.find-room{
}
.game-function{
  background: white;
}

.point{
  font-size: 3rem;
  font-weight: bold;
}

.my-name,.competitor-name{
  font-size: 14px;
  width: 3.5rem;
  height: 3.5rem;
  background: darkblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.my-name.active,.competitor-name.active{
  opacity: 1;
}

.my-name,.competitor-name span{
  color: white;
}

.block{
  background: wheat;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block.suggest{
  opacity: 0.5;
}

/* .block .crep{
  width: 100%;
} */

input{
  outline: none;
  border:none;
}

.move-out,.move-out-stand{
  display: none;
}

.move-out.active{
  position: absolute;
  width: 100%;
  height: 50px;
  background: wheat;
  top: -55px;
  z-index: 1111;
  display: block;
  opacity: 0.5;
}

.move-out-stand.active{
  position: absolute;
  width: 50px;
  height: 100%;
  background: wheat;
  right: -55px;
  z-index: 1111;
  display: block;
  opacity: 0.5;
}